<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Email Subscription App |
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css"> 
</head>

<body>
    <div class='main'>
        <div class='container'> <a href="/">Back Home</a>
            <h1> <%= response %> </h1> 
        </div>
    </div>
</body>

</html>