<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Email Subscription App | Confirm</title>
    <link rel="stylesheet" href="style.css"> </head>

<body>
<<<<<<< HEAD:views/confirm.ejs
 <div class='main'>
 <div class='container'>
  <a href="/">Back Home</a>
   
   <h1> <%= response %> </h1>
   <h1> </h1>
======= </div>
</body>

</html>