<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" http-equiv="Content-Security-Policy">

    <title>Email Subscription App |
        <%= title %>
    </title>
    <link rel="icon" type="image/png" href="../public/icon.png">
    <link rel="stylesheet" href="../public/animate.css">
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>

    <div class='animated slideInLeft container' style="width:50%;height:100%">
            <div class="card small">
                <div class="card-content center-align">
                    <h2 class="card-title black-text center-align">
                        <%= response %> </h2>
                </div>
            </div>
        </div>
    
</body>

</html>