<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' data: fonts.gstatic.com">
    
    <title>Email Subscription App | <%= title %> </title>
    <link rel="icon" type="image/png" href="icon.png">
    <link rel="stylesheet" href="animate.css">
    <link rel="stylesheet" href="/style.css"> 
</head>
<body>
    <div class='main animated slideInLeft'>
        <div class='container'> <a href="/">Back Home</a>
            <h1> <%= response %></h1>
            <ul>
            <% errors.forEach(function(errObj){ %>
            <li><%= errObj.msg %> </li> 
             <% } ) %>
            </ul>  
        </div>
    </div>
</body>

</html>