<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Subscriber List</title>
</head>

<body>
    <div class='main'>
    <a href="/">Back home</a>
    <h1>Subscriber List</h1>
    <table class="subscribers">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subscribed?</th>
        </tr>
        <% for (var i = 0; i < subscribers.length; i++) { %>
            <tr>
                <td>
                    <%= subscribers[i].name %>
                </td>
                <td>
                    <%= subscribers[i].email %>
                </td>
                <td>
                    <%= subscribers[i].subscribed %>
                </td>
            </tr>
            <% } %>
    </table>
    </div>
</body>

</html>